<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.week3.stringweek3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".view.Feed"
            android:theme="@style/Chip"/>
        <activity android:name=".view.NotificationLocation" />
        <activity android:name=".view.NotificationPush" />
        <activity
            android:name=".view.FollowPeople"
            android:parentActivityName=".view.SelectInterests" />
        <activity
            android:name=".view.VerifyYourAccount"
            android:parentActivityName=".view.Login" />
        <activity
            android:name=".view.ForgotPasswordActivity"
            android:parentActivityName=".view.Login" />
        <activity
            android:name=".view.Login"
            android:parentActivityName=".view.LoginMain" />
        <activity android:name=".view.TermsActivity"
            android:parentActivityName=".view.CreateAccount"/>
        <activity android:name=".view.SelectInterests" />
        <activity
            android:name=".view.CreateAccount"
            android:parentActivityName=".view.LoginMain" />
        <activity android:name=".view.LoginMain" />
        <activity
            android:name=".view.SplackMain"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity" />
    </application>

</manifest>